body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.informations {
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
  gap: 30px;
}

.label {
  margin: 5% auto;
  text-align: center;
}

input {
  margin: 5% auto;
  width: 70%;
  height: 30px;
}

.link,
.link:visited {
  width: 50%;
  height: 30px;
  background-color: beige;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.link:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 177);
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 20px;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

