/* GENERAL */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE ACCUEIL */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(images/nourriture.jpg) center / cover no-repeat;
}

.sub-container {
  background-color: rgba(226, 230, 226, 0.8);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  overflow: auto;
}
.title {
  width: 90%;
  text-align: center;
  font-size: 25px;
  margin: 50px auto;
  text-transform: uppercase;
}
.informations {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: column;
}

.label {
  margin: 1em auto;
  text-align: center;
  font-weight: bold;
}

input {
  margin: 1em auto;
  width: 70%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(109, 109, 83);
  font-size: 25px;
  font-weight: bold;
  box-shadow: 7px 7px 15px black;
  border: solid 1px black;
}

.btn {
  width: 50%;
  height: 45px;
  background-color: rgb(109, 109, 83);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 50px auto;
  box-shadow: 7px 7px 15px black;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 177);
}

/* PAGE RESULTAT */

.resultContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#info,
#textResult {
  font-size: 20px;
  font-weight: bold;
}

/* MEDIAS QUERIES */

@media screen and (min-width: 768px) {
  .container {
    background-image: url(images/nourriture.jpg) center / cover no-repeat;
    height: 100vh;
  }
  .sub-container {
    width: 680px;
  }
  .title {
    font-size: 40px;
  }
  .label {
    font-size: 25px;
  }
}
